.label-d8 {
  color: #d8d8d8;
}

.overlayalert {
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  color: #ffc700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: left;
  z-index: 2147483647;
  flex-direction: column;
  padding: 16px;
  width: max-content;
  min-width: 100px;
  max-width: 200px;
}
.overlayalert.fade {
  opacity: 0;
  transition: opacity 1s;
}
.overlayalert .text {
  text-align: left;
  font-size: 14px;
  font-family: "Overpass";
  color: white;
  white-space: pre-wrap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.overlayalert .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-bottom: 12px;
}
.overlayalert .icon path {
  fill: #ffc700;
}