.generate-password {
  display: flex;
  flex-direction: column;
  margin: 24px 24px 12px 24px;
}
.generate-password .generate-password-header {
  height: 24px;
  margin-bottom: 24px;
}
.generate-password .generate-password-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.generate-password .generate-password-content .password-editor {
  width: 100%;
}
.generate-password .generate-password-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 24px;
  width: 336px;
}
.generate-password .generate-password-buttons.privacy-screen {
  margin-top: 196px;
}
.generate-password .generate-password-buttons button {
  height: 40px;
  font-size: 15px;
  cursor: pointer;
  user-select: none;
}
.generate-password .generate-password-buttons button.create-new {
  color: black;
  background: #F2F2F2;
  border: none;
  border-radius: 8px;
  font-family: "Overpass-SemiBold";
  width: 100%;
}
.generate-password .generate-password-buttons button.copy-password {
  background: none;
  border: none;
  font-family: "Overpass";
  margin-top: 16px;
  height: 32px;
  border-radius: 8px;
}

.generated-password-history {
  padding: 24px 16px 0px 16px;
}
.generated-password-history .history-search {
  border-radius: 8px;
  height: 40px;
  padding: 0px 12px;
  background: #F0F0F0;
  display: flex;
  margin: 16px 8px;
  align-items: center;
}
.generated-password-history .history-search.focused {
  outline: 2px solid #054B91;
}
.generated-password-history .history-search input {
  border: none;
  width: 100%;
  background-color: transparent;
}
.generated-password-history .history-search input::placeholder {
  color: #565656;
  opacity: 1;
}
.generated-password-history .history-results {
  flex-direction: column;
  align-items: center;
}
.generated-password-history .history-results .history-item {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  padding: 12px;
  width: 350px !important;
}
.generated-password-history .history-results .history-item .icon-controls {
  display: none;
}
.generated-password-history .history-results .history-item .icon-controls .tooltip {
  height: 24px;
  cursor: pointer;
}
.generated-password-history .history-results .history-item .icon-controls svg {
  width: 24px;
}
.generated-password-history .history-results .history-item:hover {
  background: #F0F0F0;
}
.generated-password-history .history-results .history-item:hover .details .password {
  width: 254px;
}
.generated-password-history .history-results .history-item:hover .icon-controls {
  display: flex;
}
.generated-password-history .history-results .history-item .details .password {
  font-family: "PT Mono", monospace !important;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: black;
  word-wrap: break-word;
  width: 304px;
  white-space: nowrap;
  overflow: hidden;
}
.generated-password-history .history-results .history-item .details .url {
  color: #565656;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 270px;
}
.generated-password-history .history-results .history-item .details .timestamp {
  color: #565656;
}

.dark-mode .generated-password-history .history-search {
  background: #3D3D3D !important;
}
.dark-mode .generated-password-history .history-search svg path {
  fill: #b3b3b3 !important;
}
.dark-mode .generated-password-history .history-search input::placeholder {
  color: #b3b3b3;
  opacity: 1;
}
.dark-mode .generated-password-history .history-item:hover {
  background-color: #565656 !important;
}
.dark-mode .generated-password-history input {
  color: white !important;
  outline: none !important;
}
.dark-mode .generated-password-history .timestamp, .dark-mode .generated-password-history .url {
  color: #b3b3b3 !important;
}
.dark-mode .generated-password-history .password {
  color: white !important;
}
.dark-mode .generated-password-history svg path {
  fill: white !important;
}