#data-body-paneui #search-root {
  margin-bottom: 8px;
  z-index: 2;
}
#data-body-paneui #search-root #search {
  padding: 0 20px;
}
#data-body-paneui #record-edit-root {
  overflow: none;
}
#data-body-paneui .search-results-header {
  height: 32px;
  display: flex;
  align-items: center;
}
#data-body-paneui .sort-wrap {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 32px;
  margin-left: 12px;
  padding-left: 8px;
  border-radius: 8px;
  width: auto !important;
  z-index: 4;
}
#data-body-paneui .sort-wrap.fixed {
  margin-top: 0;
}
#data-body-paneui .sort-wrap.multi-selected {
  background-color: #1B74DA;
  color: white;
  padding-left: 12px;
  padding-right: 8px;
}
#data-body-paneui .sort-wrap.multi-selected svg.caret path {
  fill: white;
}
#data-body-paneui .record-header.keeper-title-smaller-400 {
  display: flex;
  align-items: center;
}
#data-body-paneui .record-header :first-child {
  display: flex;
  align-items: center;
}
#data-body-paneui #records .no-records {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 46px;
}
#data-body-paneui #records .add-record-btn {
  display: flex;
  border: 1px solid #1B74DA;
  justify-content: center;
  width: 320px;
  align-items: center;
  cursor: pointer;
  height: 40px;
  border-radius: 8px;
}
#data-body-paneui #records .record-count {
  color: black;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.rtl #data-body-paneui #records .record-count {
  padding-right: 20px;
}
#data-body-paneui #records .record {
  padding: 0 8px !important;
  padding-right: 0px !important;
  width: 348px;
}
#data-body-paneui #records .record .record-data {
  width: 100%;
}
#data-body-paneui #records .record .favorite {
  height: 16px;
}
#data-body-paneui #records .record .fill, #data-body-paneui #records .record .record-menu-icon {
  display: none !important;
}
#data-body-paneui #records .record:hover .fill, #data-body-paneui #records .record:hover .record-menu-icon {
  display: block !important;
}
#data-body-paneui #records .record:hover .favorite svg {
  width: 0;
}
#data-body-paneui #records .record:hover .record-data {
  width: 210px;
}
#data-body-paneui #records .record:hover .content {
  background-color: #f0f0f0;
}
#data-body-paneui #records .record:hover .content > div:first-child {
  border: none;
}
#data-body-paneui #records .record .content {
  border: none !important;
  width: auto !important;
}
#data-body-paneui #records .record .content > div:first-child {
  min-height: 56px !important;
}
#data-body-paneui #records .record .content .record-data {
  cursor: pointer;
  min-height: 44px;
}
#data-body-paneui #records .record-item-divider {
  width: 310px;
  padding: 0 12px !important;
}
#data-body-paneui #records .record-wrapper:hover + .record-wrapper .record-item-divider {
  background-color: #D8D8D8;
}
#data-body-paneui #records .record-wrapper:hover + .record-wrapper .record-item-divider.dark-mode {
  background-color: #565656;
}

.record-details-pane {
  padding: 20px;
}
.record-details-pane .field svg {
  width: 24px;
  height: 24px;
}
.record-details-pane .field {
  position: relative;
  margin: 16px 0;
  word-wrap: break-word;
  padding-bottom: 6px;
}
.record-details-pane .field .passkey-field {
  background-color: #F1F5F9;
}
.record-details-pane .field.url {
  margin-bottom: 0;
  padding-bottom: 12px;
}
.record-details-pane .field:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.record-details-pane .field .field-value {
  color: inherit;
  border-bottom: 1px solid #D8D8D8;
  width: 100%;
  min-height: 28px;
}
.record-details-pane .field .field-value.notes {
  height: auto;
  padding-bottom: 4px;
  max-width: 274px;
}
.record-details-pane .field .label-tooltip:before {
  display: none;
}
.record-details-pane .field .label-tooltip:after {
  max-width: 336px;
  left: -55px;
  min-height: 36px;
  height: auto;
  white-space: normal;
  text-align: center;
  padding: 6px 12px;
}
.record-details-pane .field .field-name {
  height: 24px;
  color: #565656;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 220px;
}
.dark-mode .record-details-pane .field .field-name {
  color: #B3B3B3;
}
.record-details-pane .field .field-subtext {
  font-size: 12px;
  opacity: 0.7;
}
.record-details-pane .field .password-strength {
  max-width: 248px;
}
.record-details-pane .field.url .field-value {
  color: #1B74DA;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: initial;
  white-space: nowrap;
  word-break: break-all;
}
.record-details-pane .field.url .field-value:hover {
  text-decoration: underline;
}
.record-details-pane .field.url .website-launch-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 12px;
}
.record-details-pane .field .copy {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  cursor: pointer;
  margin-left: 12px;
}
.record-details-pane .field .copy .rtl {
  margin-left: 0px;
  margin-right: 12px;
}
.record-details-pane .field .copy path {
  fill: #565656;
}
.dark-mode .record-details-pane .field .copy path {
  fill: #B3B3B3 !important;
}
.record-details-pane .field.password .show, .record-details-pane .field.maskable .show {
  height: 24px;
  width: 24px;
  min-height: 24px;
  min-width: 24px;
  cursor: pointer;
  right: -2px;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.rtl .record-details-pane .field.password .show, .rtl .record-details-pane .field.maskable .show {
  right: unset;
}
.record-details-pane .field.password .show path, .record-details-pane .field.maskable .show path {
  fill: #000;
}
.record-details-pane .field.password .noview .copy, .record-details-pane .field.password .noview .show, .record-details-pane .field.maskable .noview .copy, .record-details-pane .field.maskable .noview .show {
  display: none;
}
.record-details-pane .field.password .noview .restricted, .record-details-pane .field.maskable .noview .restricted {
  display: block;
}
.record-details-pane .field .show {
  margin-left: 12px;
}
.record-details-pane .field.password .field-value.masked {
  font-size: 24px;
  font-family: "Roboto-Mono";
  font-size: 15px;
}
.record-details-pane .field.password .restricted {
  display: none;
  font-size: 10px;
}
.record-details-pane .field.password .show {
  right: -2px;
}
.record-details-pane .field.multiline {
  white-space: pre-wrap;
}
.record-details-pane .field.cardnumber .field-value {
  display: flex;
  align-items: center;
}
.record-details-pane .field.otp {
  display: flex;
}
.record-details-pane .field.otp .totp-top-container {
  width: 100%;
  justify-content: flex-start;
}
.record-details-pane .field.otp .totp-top-container .countdown-circle {
  height: 32px;
  width: 32px;
}
.record-details-pane .field.otp .totp-top-container .countdown-circle .base {
  stroke-width: 3px;
}
.record-details-pane .field.otp .totp-top-container .field-value {
  width: 100%;
  font-family: "Roboto-Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.record-details-pane .field.otp .countdown-circle {
  height: 30px;
  width: 30px;
  margin-top: 5px;
  margin-right: 15px;
  flex-shrink: 0;
}
.record-details-pane .field.otp .field-value {
  font-size: large;
  width: 167px;
}
.record-details-pane .record-icon {
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  border-radius: 8px;
  padding: 8px;
}
.record-details-pane .record-icon svg path {
  fill: #1B74DA;
}
.rtl .record-details-pane .record-icon {
  margin: 0 8px 0 12px;
}
.record-details-pane .record-icon.green {
  border: 4px solid #1A9732;
}
.record-details-pane .record-icon.green .record-icon {
  margin: 4px;
}
.record-details-pane .record-icon.green .record-icon svg > path {
  fill: #1A9732 !important;
}
.record-details-pane .record-icon.gray {
  border: 4px solid #888888;
}
.record-details-pane .record-icon.gray .record-icon {
  margin: 4px;
}
.record-details-pane .record-icon.gray .record-icon svg > path {
  fill: #888888 !important;
}
.record-details-pane .record-icon.blue {
  border: 4px solid #0094CC;
}
.record-details-pane .record-icon.blue .record-icon {
  margin: 4px;
}
.record-details-pane .record-icon.blue .record-icon svg > path {
  fill: #0094CC !important;
}
.record-details-pane .record-icon.orange {
  border: 4px solid #E75C00;
}
.record-details-pane .record-icon.orange .record-icon {
  margin: 4px;
}
.record-details-pane .record-icon.orange .record-icon svg > path {
  fill: #E75C00 !important;
}
.record-details-pane .record-icon.red {
  border: 4px solid #F20D29;
}
.record-details-pane .record-icon.red .record-icon {
  margin: 4px;
}
.record-details-pane .record-icon.red .record-icon svg > path {
  fill: #F20D29 !important;
}
.record-details-pane .record-icon.yellow {
  border: 4px solid #B88F00;
}
.record-details-pane .record-icon.yellow .record-icon {
  margin: 4px;
}
.record-details-pane .record-icon.yellow .record-icon svg > path {
  fill: #B88F00 !important;
}
.record-details-pane .title {
  max-width: 320px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.record-details-pane .meta {
  display: flex;
  align-items: center;
}
.record-details-pane .meta .record-type {
  color: #565656;
  max-width: 256px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.record-details-pane .meta .has-totp, .record-details-pane .meta .favorite, .record-details-pane .meta .sharing {
  height: 16px;
  width: 16px;
}
.record-details-pane .actions .record-details-menu {
  background: #fff;
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 20px;
  width: 280px;
  z-index: 1;
}
.record-details-pane .actions .record-details-menu .details-menu-item {
  padding: 8px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.record-details-pane .actions .record-details-menu .details-menu-item .icon {
  height: 24px;
}
.record-details-pane .actions .record-details-menu .details-menu-item .text {
  margin-left: 8px;
}
.record-details-pane .actions .autofill, .record-details-pane .actions .share {
  padding: 0 12px;
  height: 32px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.record-details-pane .actions .autofill {
  background-color: #1B74DA;
  color: white;
}
.record-details-pane .actions .share {
  color: #1B74DA;
  border: 1px solid #1B74DA;
}
.record-details-pane .actions .back, .record-details-pane .actions .options {
  cursor: pointer;
  height: 32px;
}

.sort-menu {
  overflow-y: scroll;
  display: flex;
  width: 280px;
  height: 424px;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  color: black;
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 16px;
  z-index: 6;
  bottom: 16px;
}
.sort-menu hr {
  width: 248px;
  border: 1px solid #d8d8d8 !important;
}
.sort-menu .sort-item {
  display: flex;
  height: 40px;
  width: 100%;
  padding: 8px 16px;
  align-items: center;
  cursor: pointer;
}
.sort-menu .sort-item.type-filter svg path {
  fill: #1B74DA;
}
.sort-menu .sort-item .selected {
  position: absolute;
  right: 2px;
}