#login *:focus-visible.focus-visible {
  border-radius: 4px;
  outline: 2px solid #054B91;
}

.light-mode *:focus {
  outline: none;
}
.light-mode *:focus-visible.focus-visible {
  outline: 2px solid #054B91;
}
.light-mode #remember-me-container:focus-visible,
.light-mode .account_upsell:focus-visible,
.light-mode #cancelSSO:focus-visible,
.light-mode .need-help-container:focus-visible {
  outline: 2px solid #48B6FF !important;
}
.light-mode .loggedin-body button.create-new:focus-visible, .light-mode .loggedin-body .cs-select:focus-visible, .light-mode .loggedin-body .swatch:focus-visible {
  border: 2px solid white;
  border-radius: 8px;
}
.light-mode .loggedout-body #login .dropdown-button.highlighted, .light-mode .loggedout-body #login .dropdown-button:focus-visible, .light-mode .loggedout-body #login #sso-choice-dropdown .sso-choice-item.highlighted, .light-mode .loggedout-body #login #sso-choice-dropdown .sso-choice-item:focus-visible, .light-mode .loggedout-body #login #the-multi-login-dropdown .the-entries.highlighted, .light-mode .loggedout-body #login #the-multi-login-dropdown .the-entries:focus-visible, .light-mode .loggedout-body #login .close-icon.highlighted, .light-mode .loggedout-body #login .close-icon:focus-visible, .light-mode .loggedout-body #login #twofactorcode .expiration-dropdown-container-root .expiration-selector-items .expiration-selector-item.highlighted, .light-mode .loggedout-body #login #twofactorcode .expiration-dropdown-container-root .expiration-selector-items .expiration-selector-item:focus-visible, .light-mode .loggedout-body #login .region-selector-items .region-selector-item.highlighted, .light-mode .loggedout-body #login .region-selector-items .region-selector-item:focus-visible, .light-mode .loggedout-body #login .need-help-items .need-help-item.highlighted, .light-mode .loggedout-body #login .need-help-items .need-help-item:focus-visible {
  border-radius: 4px;
  outline: 2px solid #48B6FF !important;
}

.dark-mode *:focus-visible.focus-visible {
  outline: 2px solid #48B6FF;
}
.dark-mode #login *:focus-visible.focus-visible {
  border-radius: 4px;
  outline: 2px solid #48B6FF;
}
.dark-mode #login button.gold:focus-visible,
.dark-mode .region-selector-container:focus-visible,
.dark-mode .start_sso:focus-visible,
.dark-mode #device-approval button.gold:focus-visible {
  border: 2px solid #191919 !important;
  outline: 2px solid #48B6FF !important;
  border-radius: 8px;
}
.dark-mode .loggedin-body button.create-new:focus-visible, .dark-mode .loggedin-body .cs-select:focus-visible, .dark-mode .loggedin-body .swatch:focus-visible {
  border: 2px solid #191919 !important;
  outline: 2px solid #48B6FF !important;
  border-radius: 8px;
}

.cs-select:focus-visible {
  margin: -2px;
  box-sizing: content-box;
  margin-bottom: 14px !important;
}

.swatch:focus-visible {
  margin: -4px !important;
  border-radius: 10px !important;
}

.start_sso:focus-visible, .cs-select:focus-visible {
  border-radius: 10px !important;
}

#data-body *:focus-visible.focus-visible {
  border-radius: 4px;
  outline: 2px solid #054B91;
}

.region-selector-container:focus-visible,
#login .region-selector-container:focus-visible,
#login .start_sso.focus-visible:focus-visible,
button.login:focus-visible,
#connectSSO:focus-visible,
#data-body #login button.gold.focus-visible:focus-visible,
#device-approval button.gold.focus-visible:focus-visible {
  border: #191919 2px solid;
  border-radius: 8px;
  outline: 2px solid #48B6FF;
}