#header {
  display: flex;
  padding: 10px 16px;
  height: 56px;
}
#header *:focus-visible {
  outline: 2px solid white !important;
}
#header #landscape-select {
  height: 32px;
  cursor: pointer;
}
#header > div:first-child {
  align-items: center;
  display: flex;
  width: 100%;
}
#header #back-button-arrow {
  height: 24px;
  width: 24px;
}
#header #back-button-arrow svg path {
  fill: white;
}
#header .keeperlogo {
  background-image: url(../images/ico-keeper-white.svg);
  background-repeat: no-repeat;
  height: 24px;
  width: 78px;
}
#header .keeperlogo {
  flex-grow: 2;
  margin-left: 8px;
}
#header .icon.help {
  display: flex;
  cursor: pointer;
  margin-right: 2px;
}
#header .icon.vault {
  font-size: 20px;
  margin-right: 5px;
  padding: 2px;
}
#header .close {
  cursor: pointer;
  width: auto;
  height: 32px;
  padding: 5px 0px;
  color: #fff;
  display: flex;
  font-size: 13px;
  padding-right: 4px;
  flex-grow: 2;
}
#header .cancel {
  height: 24px;
  width: 24px;
  cursor: pointer;
}
#header icon svg path {
  fill: white;
}
#header .save {
  margin-right: 8px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  color: white;
}
#header #save-icon-root {
  margin: 0 0 0 auto;
}