#data-body-paneui {
  width: 360px;
  height: 584px;
}
#data-body-paneui.landscape {
  width: 600px;
  height: 480px;
}
#data-body-paneui.landscape .loggedin-body {
  width: 280px;
  max-height: 424px;
  overflow-y: overlay;
}
#data-body-paneui.portrait .loggedin-body {
  height: 528px;
}
#data-body-paneui #login {
  max-height: 528px;
}
#data-body-paneui .setting-end-side-text.user {
  width: 218px;
}
#data-body-paneui .pane-2 {
  width: 320px;
  -webkit-animation: slideIn 0.3s forwards;
  -moz-animation: slideIn 0.3s forwards;
  animation: slideIn 0.3s forwards;
  max-height: 424px;
}
@keyframes slideIn {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}