#settings-root {
  overflow-x: hidden;
  height: 544px;
}
#settings-root:hover {
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: 0px;
}
#settings-root #settings {
  margin: 24px 8px 24px 16px;
}
#settings-root #settings .changelocationprompt .settings-arrow,
#settings-root #settings .themes .settings-arrow,
#settings-root #settings .timer .settings-arrow {
  top: 0px;
}
#settings-root #settings .changelocationprompt .settings-arrow svg,
#settings-root #settings .themes .settings-arrow svg,
#settings-root #settings .timer .settings-arrow svg {
  width: 20px;
}
#settings-root #settings > .setting:hover {
  background-color: #F0F0F0;
}
#settings-root #settings .setting {
  height: 48px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 0px 8px;
  font-size: 15px;
  cursor: pointer;
}
#settings-root #settings .setting .settings-arrow {
  left: 5px;
  position: relative;
  flex: 1;
}
#settings-root #settings #restore-default {
  cursor: pointer;
  color: #1B74DA;
  margin-top: 24px;
  margin-left: 8px;
}
#settings-root #containerforpromptlocation {
  background-repeat: no-repeat;
  text-align: center;
  height: 80px;
  width: 120px;
  border: none;
  margin: 20px auto 16px auto;
}
#settings-root .themes-header {
  padding-left: 8px;
}
#settings-root hr {
  margin: 16px 8px;
  width: 336px;
}
#settings-root #themes, #settings-root .input-fields {
  padding: 24px;
}
#settings-root #themes .themed-svg svg path, #settings-root .input-fields .themed-svg svg path {
  fill: #888 !important;
}
#settings-root #themes .row .swatch, #settings-root .input-fields .row .swatch {
  margin: -2px;
  box-sizing: content-box;
}
#settings-root #themes .row .swatch[tooltip]:before, #settings-root .input-fields .row .swatch[tooltip]:before {
  right: 15px;
}
#settings-root #themes .row .swatch.selected svg, #settings-root .input-fields .row .swatch.selected svg {
  top: 7px;
  left: 7px;
}
#settings-root #themes .row .swatch .swatch-bg, #settings-root .input-fields .row .swatch .swatch-bg {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  position: relative;
  border: 1px solid #888;
}
#settings-root #themes .preview, #settings-root .input-fields .preview {
  margin-top: 8px;
  padding: 0 2px;
}
#settings-root #themes .preview label, #settings-root .input-fields .preview label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  cursor: pointer;
}
#settings-root #themes .preview label span, #settings-root .input-fields .preview label span {
  margin-left: 8px;
}
#settings-root #themes .toggle-row, #settings-root .input-fields .toggle-row {
  height: 48px;
  display: flex;
}
#settings-root #themes .save, #settings-root .input-fields .save {
  margin-top: 15px;
}
#settings-root #themes .selected-checkmark.icon.material-icons, #settings-root .input-fields .selected-checkmark.icon.material-icons {
  color: white;
  border: 0px;
  text-align: center;
  margin-top: 6px;
  width: 36px;
}
#settings-root #change-location-prompt-settings {
  padding: 24px;
}
#settings-root #change-location-prompt-settings .title {
  display: flex;
}
#settings-root #change-location-prompt-settings .title span {
  margin-left: 8px;
}
#settings-root #change-location-prompt-settings .description {
  margin-bottom: 16px;
}
#settings-root #change-location-prompt-settings div.cs-skin-elastic {
  margin-bottom: 16px;
}
#settings-root #enablelogouttimer {
  width: 64px;
  height: 40px;
  border: 1px solid #888888;
  padding: 0px 8px;
  border-radius: 8px;
}
#settings-root #security-settings {
  padding: 24px;
}
#settings-root #security-settings .description {
  margin: 0px;
  margin-bottom: 16px;
  max-width: 100%;
}
#settings-root #security-settings .title {
  display: flex;
  height: 48px;
  align-items: center;
}
#settings-root #security-settings .toggle-row {
  display: flex;
  width: 100%;
  align-items: center;
  cursor: pointer;
}
#settings-root #security-settings .toggle-row span {
  padding-left: 8px;
}
#settings-root #security-settings .timer-toggle-row {
  display: flex;
  width: 100%;
  align-items: center;
}
#settings-root #security-settings .timer-toggle-row span {
  padding-left: 8px;
}