body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  scrollbar-width: thin;

  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 8px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  min-height: 13%;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: #939393;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

#popover-preloader {
  background-image: linear-gradient(-45deg, #1a76dd 0, #105aac 50%,#063d7b 100%);
  background-image: -webkit-linear-gradient(-45deg, #1a76dd 0, #105aac 50%,#063d7b 100%);
    background-image: -moz-linear-gradient(-45deg, #1a76dd 0, #105aac 50%,#063d7b 100%);
  height: 600px;
  overflow: hidden;
}


.gold {
  color: #FFC700;

}

#popover-preloader button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 16px;
  min-width: 88px;
  height: 24px;

  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 16px;

  border: none;
  background: transparent;

  color: #FFFFFF;
  cursor: pointer;
}




.region-selector-container:focus-visible {
  padding: 6px !important;
}
.start_sso:focus-visible {
  margin: -2px !important;
}


@-moz-document url-prefix() {

  #data-body,
  #record-list {
    padding-bottom: 8px;
    /* prevent ff from cutting off bottom */
  }
}

#container {
  color: #000;
  font-family: "Overpass";
  font-size: 14px;
  position: relative;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#data-body {
  width: 384px;
  height: 600px;
}


.loggedin-body {
  height: 544px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}


#container .themable {
  border-color: #ddd;
  color: #000;
}

#container #searchbox {
  box-shadow: 0 2px 5px -2px rgba(255, 255, 255, 0.7);
}

#copy-container {
  z-index: 1;
  position: absolute;
  background: white;
  box-shadow: 0 0 7px 0 black;
}

#copy-container #copy-list .copy-option {
  user-select: none;
  cursor: pointer;
  padding: 8px;
  border-bottom: 1px solid #aaa;
}

#container #sort-selector {
  z-index: 2;
  padding: 8px;
  position: absolute;
  top: 120px;
  right: 24px;
  background: white;
  min-width: 200px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
}



#container #sort-selector #sort-by-title {
  color: #565656;
  margin: 10px 16px;
  
  user-select: none;
}

#container #sort-selector #sort-list .sort-item {
  display: flex;
  padding: 8px 16px;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
}
#container #sort-selector #sort-list .sort-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#container #sort-selector #sort-list .sort-item #selection-name {
  
  flex-grow: 1;
}



.container-sort-by-one-or-less-height {
  min-height: 200px;
}

#twofactorcode .approval-email {
  margin-bottom: 8px;
}
.approval-email {
  width: 100%;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 24px;
}


#two-factor-svg-holder {
  align-self: center;
}

#two-factor-img-holder {
  align-self: center;
}

.screen-title {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 8px;
}

#login .screen-title {
  margin-bottom: 24px;
}

#email-verification-code .screen-title, #duo .screen-title {

  margin-bottom: 8px;
}

.person-icon {
  
  margin-right: 8px;
  height: 24px;
  width: 24px;
}

.person-icon svg path:first-child {
  fill: white;
}


#dna {
  margin-bottom: 16px;
  margin-top: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dna .keeper-time-out-request {
  margin-top: 16px;
}

#dna .keeper-time-out-request-icon {
  height: 36px;
  margin-bottom: 8px;
}

#dna .title {
  margin-bottom: 8px;
}

#dna .logo {
  background-size: 141px 50px;
  height: 50px;
  width: 141px;
}

#dna .message {
  text-align: center;
  color: #D8D8D8;
  text-align: center;
}

#duo {
  display: flex;
  flex-direction: column;
}

#duo .logo {
  background-size: 72px 24px;
  height: 24px;
  align-self: center;
  margin-bottom: 10px;
  margin-top: 15px;
  width: 72px;
}

#duo .message {
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 8px;
  color: #D8D8D8;
  
}

#duo .duobuttons {
  display: flex;
  
}

#duo .duobuttons button {
  width: 100%;
  word-spacing: 99999999vw;
  background-color: #404040;
  color: #fff;
  margin-bottom: 8px;
  border: none;
  height: 56px;
}

#duo .duobuttons button:focus-visible {
  outline: 2px solid white;
}

#duo .duobuttons button:not(:last-child) {
  margin-right: 8px;
}

#fixedlinks {
  padding: 0 15px;
}

#fixedlinks.shadow {
  box-shadow: 0 -5px 5px -2px rgba(0, 0, 0, 0.3);
}




.logout.setting svg path:nth-child(2),
.logout.setting #logout-label {
  color: #CE021B;
  fill: #CE021B;
}



.view .setting.logout [data-translation="Logout"] {
  flex-grow: 1;
}

.view .setting .icon,
.view .setting svg {
  min-width: 24px;
  max-width: 24px;
  height: 24px;
}



.view .setting span:nth-child(2) {
  margin: 0 8px;
}

.view .prompttoggle span:nth-child(2),
#timer .title span:nth-child(2) {
  flex-grow: 9;
}

.view .prompttoggle .md-toggle {
  align-self: center;
}



hr {
  
    color: #d8d8d8;
    background: #d8d8d8;
    height: 1px;
    border: none;
}






.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.row.center-align {
  align-items: center;
}

.row.center-just {
  justify-content: center;
}

.row.end-just {
  justify-content: flex-end;
}

.row.column {
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.row.start-just {
  justify-content: flex-start;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}




#overlay-info-image {
  background-image: url(../images/info-24px.svg);
}



.link {
  align-items: center;
  border-bottom: 1px solid #999;
  cursor: pointer;
  display: flex;
  padding: 12px 0;
}

.link .icon {
  height: 18px;
  margin-right: 10px;
  width: 18px;
}


.indicator {
  min-width: 12px;
  min-height: 12px;
  align-self: center;
  border-radius: 50%;

}

.indicator.on {
  background-color: #1A9732;
}

.indicator.off {
  border: 2px solid #939393;
}

button.pretty {
  border-radius: 8px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  font-family: 'Overpass';

  -moz-user-select: none;
  -webkit-user-select: none;
}

button.pretty.gold {
  border: none;
}

#login-with-a-different-account {
  width: fit-content;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 24px;
  color: #48B6FF;
  cursor: pointer;
  background: none;
  border: none;
}

#shadow-effect {
  z-index: 2;
  opacity: 0.25;
  /* Will get height/width in js from document.body
    height: 259.667px;
    width: 304px; */
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
}

button.pretty:active {
  background-color: #ffd700;
  color: #333;
}

button.pretty:disabled {
  cursor: default;
  border: none;
  color: #888;
}

button.pretty.gold {
  background-color: #ffc700;
}

button.pretty.large {
  padding: 8px 20px;
  width: 100%;
}

button.pretty.transparent {
  background-color: transparent;
  border: 0;
}

.iconbutton {
  cursor: pointer;
  text-align: center;

  -moz-user-select: none;
  -webkit-user-select: none;
}

.iconbutton:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none !important;
}

.collapsed {
  height: 0 !important;
  padding: 0 !important;
  width: 0 !important;
}

.fade {
  opacity: 0;
  transition: opacity 1s;
}

.overlay {
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
}

.overlay.light {
  background-color: #fff;
}

.overlay.dark {
  background-color: #000;
}

.disabled-block {
  opacity: 0.6;
}

.rotate {
  transform: rotate(0.5turn);
}


.spin {
  animation-name: spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


#duo .keeper-time-out-request {
  margin-top: 20px;
  margin-bottom: 12px;
}

.try-another-method {
  color: #48B6FF;
  cursor: pointer;
}

#tfa-below-text .try-another-method {
  margin-bottom: 0px;
}



#dna .keeper-time-out-request-icon svg {
  height: 36px;
  width: 36px;
}

.region-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.region-dropdown .region-dropdown-select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  position: relative;
  width: 200px;
  height: 289px;
  left: 60px;
  bottom: 108px;
  background: #FFFFFF;
  box-shadow: 0px 6px 18px rgb(0 0 0 / 30%);
  border-radius: 8px;
  z-index: 9;

}

.region-dropdown .region-dropdown-select option {}

.region-selector-popup {
  display: flex;
flex-direction: column;
align-items: center;
padding: 15px 0;
position: absolute;
width: 200px;
height: 296px;
left: 92px;
bottom: 171px;

background: #FFFFFF;
box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.3);
border-radius: 8px;
}
.region-selector-popup .region-selector-list-title {
  color: #565656;
  margin: 0 auto;
  height: 39px;


}

.region-dropdown-select-root .region-selector-items {
  padding: 15px 24px;
}


.region-dropdown-select-root .region-selector-items .region-selector-item {
  font-weight: 400;
font-size: 16px;
line-height: 20px;
padding: 7px 16px;
  border-radius: 4px;
display: flex;

cursor: pointer;
width: 184px;
height: 39px;

align-items: center;
color: #000000;
}

.region-dropdown-select-root .region-selector-items .region-selector-item:hover {
  background: #F0F0F0

}


.region-selector-item .region-title {

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 14px;

}

.region-dropdown-select-root .region-selector-items .region-selector-item:hover {}

.expiration-dropdown-container-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  background-color: transparent;
  width: 100%;
  margin-top:4px;
}

.expiration-dropdown-container-root .expiration-dropdown-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  width: calc(100% + 4px);
  padding-left: 16px;
  padding-right: 8px;
  height: 40px;
  justify-content: space-between;
  border-radius: 8px;

  /* this is for making the outline appear from design */
  margin: -2px;
  border:#191919 2px solid;
}


.expiration-dropdown-container-root .expiration-dropdown-container svg path {
  fill: black;
}

.expiration-dropdown-container-root .expiration-selector-items {
  position: absolute;
  box-shadow: inset 0 0 4px rgb(0 0 0 / 30%);
  background-color: white;
  border-radius: 2px;
  color: black;
  padding: 8px;
  border-radius: 8px;
  text-align: right;
}

.expiration-dropdown-container-root .expiration-selector-items .expiration-selector-item {
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.expiration-dropdown-container-root .expiration-selector-items .expiration-selector-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#welcome-screen {
  padding: 56px 24px 24px 24px;
  background-color: #191919;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome-screen .header-image {
  margin-bottom: 24px;
}

#welcome-screen .welcome-header-text {
  color: #FFFFFF;
  text-align: center;
  font-family: 'Overpass';
}

#welcome-screen #welcome-screen-carousel-buttons {
  display: flex;
  flex-direction: row;
  height: 12px;
  width: 68px;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 24px;
}

.carousel-button {
  height: 12px;
  width: 12px;
}

#welcome-screen #welcome-screen-carousel-buttons .carousel-button g {
  fill: #666666;
}

#welcome-screen #welcome-screen-carousel-buttons .carousel-button.is-selected-carousel g {
  fill: #FFC700;
}

#welcome-screen #welcome-animations {
  height: 136px;
}

#welcome-screen #welcome-description {
  color: #FFFFFF;
  

  text-align: center;
  margin-top: auto;
  margin-bottom:16px;
}


#welcome-screen #welcome-screen-buttons-container {
  width:100%;
  text-align: center;
}


#welcome-screen .create.pretty {
  background-color: #404040;
  border: none;
  color: white;
}

#welcome-screen .login.pretty {
  margin-bottom: 16px
}

.setting .dummy-space {
  flex-grow: 1;
}

.setting .setting-end-side-text {
  color: #565656;

  cursor: pointer;
  user-select: none;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ellipsis-style-overflow-text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.setting-end-side-text.user {
  padding-left: 18px;
  white-space: nowrap;
  width: 224px;
  text-align: right;
}



#record-edit-root {
  overflow-y: scroll;
  overflow-x: hidden;
}
#record-edit-root .record-edit .record-edit-content .record-edit-field {
  position: relative;
}
.record-edit .record-edit-content .record-edit-field .eyeball {
  left: 284px;
  top: 20px;
  position: absolute;
}
.record-edit .record-edit-content .record-edit-field .copy {
  left: 308px;
    top: 20px;
    position: absolute;
}
