.md-toggle label {
  position: relative;
  display: block;
  height: 12px;
  width: 30px;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #888888;
}
.md-toggle label:after {
  position: absolute;
  top: -4px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  content: "";
  transition: all 0.3s ease;
  background: white;
  left: -2px;
}
.md-toggle input, .md-toggle keeper-input {
  display: none;
}
.md-toggle input ~ label:after, .md-toggle keeper-input ~ label:after {
  border: 1px solid #888888;
}
.md-toggle input:checked ~ label, .md-toggle input[checked=true] ~ label, .md-toggle keeper-input:checked ~ label, .md-toggle keeper-input[checked=true] ~ label {
  background: #008A22;
}
.md-toggle input:checked ~ label:after, .md-toggle input[checked=true] ~ label:after, .md-toggle keeper-input:checked ~ label:after, .md-toggle keeper-input[checked=true] ~ label:after {
  border: 1px solid #008A22;
  left: 12px;
}
.md-toggle input .disabled, .md-toggle keeper-input .disabled {
  background: #888888;
  pointer-events: none;
}
.md-toggle input .disabled:after, .md-toggle keeper-input .disabled:after {
  background: #f5f5f5;
}
.md-toggle input .checked-disabled, .md-toggle keeper-input .checked-disabled {
  background: #008A22;
  pointer-events: none;
}
.md-toggle input .checked-disabled:after, .md-toggle keeper-input .checked-disabled:after {
  background: #f5f5f5;
}

.md-toggle-checked label {
  position: relative;
  display: block;
  height: 12px;
  width: 30px;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #008A22;
}
.md-toggle-checked label:after {
  position: absolute;
  top: -4px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  content: "";
  transition: all 0.3s ease;
  background: white;
  left: 12px;
}
.md-toggle-checked input, .md-toggle-checked keeper-input {
  display: none;
}
.md-toggle-checked input ~ label:after, .md-toggle-checked keeper-input ~ label:after {
  border: 1px solid #888888;
}
.md-toggle-checked input:checked ~ label, .md-toggle-checked input[checked=true] ~ label, .md-toggle-checked keeper-input:checked ~ label, .md-toggle-checked keeper-input[checked=true] ~ label {
  background: #008A22;
}
.md-toggle-checked input:checked ~ label:after, .md-toggle-checked input[checked=true] ~ label:after, .md-toggle-checked keeper-input:checked ~ label:after, .md-toggle-checked keeper-input[checked=true] ~ label:after {
  border: 1px solid #008A22;
  left: 12px;
}
.md-toggle-checked input .disabled, .md-toggle-checked keeper-input .disabled {
  background: #888888;
  pointer-events: none;
}
.md-toggle-checked input .disabled:after, .md-toggle-checked keeper-input .disabled:after {
  background: #f5f5f5;
}
.md-toggle-checked input .checked-disabled, .md-toggle-checked keeper-input .checked-disabled {
  background: #008A22;
  pointer-events: none;
}
.md-toggle-checked input .checked-disabled:after, .md-toggle-checked keeper-input .checked-disabled:after {
  background: #f5f5f5;
}