.prompttoggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 8px;
}
.prompttoggle .toggle-text {
  font-size: 15px;
}
.prompttoggle .toggle-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.prompttoggle .dummy-space {
  flex-grow: 1;
}
.prompttoggle .toggle-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.prompttoggle .md-toggle, .prompttoggle .md-toggle-checked {
  align-self: center;
}

.keeper-rtl .prompttoggle .toggle-icon {
  margin-left: 8px;
}