.password-editor.form-filler {
  margin-bottom: 16px;
}
.password-editor .password-editor-title {
  font-size: 14px;
  color: #565656;
}
.password-editor .password-editor-title-usability {
  font-family: "Overpass";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #565656;
  margin-bottom: 4px;
}
.password-editor .password-editor-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.password-editor .password-editor-field > div:nth-child(1) {
  margin-right: 12px;
  flex-grow: 1;
}
.password-editor .password-editor-field > div:nth-child(1) .password-editor-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.password-editor .password-editor-field > div:nth-child(1) .password-editor-input-container.hide-input textarea {
  font-size: 24px;
}
.password-editor .password-editor-field > div:nth-child(1) .password-editor-input-containertextarea::placeholder {
  font-size: 15px;
  letter-spacing: 0px;
  font-family: "Overpass";
  color: #565656;
  opacity: 1;
}
.password-editor .password-editor-field > div:nth-child(1) .password-editor-input-container.password-editor-border {
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  margin-bottom: 7px;
}
.error .password-editor .password-editor-field > div:nth-child(1) .password-editor-input-container .keeper-input {
  border-bottom-color: #B60000;
}
.password-editor .password-editor-field > div:nth-child(1) .password-editor-input-container.grey .input {
  color: #999;
}
.password-editor .password-editor-field > div:nth-child(1) .password-editor-input-container .eyeball {
  margin-right: 12px;
  flex-shrink: 0;
}
.password-editor .password-editor-field .password-editor-icon {
  display: flex;
  cursor: pointer;
  flex-shrink: 0;
  height: 24px;
  width: 24px;
}
.password-editor .password-editor-field .password-editor-icon-usability {
  cursor: pointer;
  right: 10px;
  top: 8px;
  height: 24px;
  width: 24px;
}
.password-editor .password-editor-field .password-editor-icon-usability.dice .spin {
  animation: keeper-tumble-die 0.25s linear;
  animation-iteration-count: infinite;
}
.password-editor .password-editor-field .password-editor-icon.eyeball {
  margin: 0px 12px 0 0;
}
.password-editor .password-editor-field .password-editor-icon.copy {
  margin-left: 12px;
}
.password-editor .password-editor-field .password-editor-icon.dice .spin {
  animation: keeper-tumble-die 0.25s linear;
  animation-iteration-count: infinite;
}
.password-editor .password-editor-field .password-editor-icon path {
  fill: #000;
}
.password-editor .password-editor-options.form-filler {
  margin-top: 16px;
}
.password-editor .password-editor-options .password-editor-length .password-editor-length-label {
  color: #565656;
  font-family: "Overpass";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.password-editor .password-editor-options .password-editor-length .range-input-container {
  margin: 10px 0px;
}
.password-editor .password-editor-options .password-editor-length input[type=range] {
  background: linear-gradient(to right, #09559A 0%, #09559A 50%, #D9D9D9 50%, #D9D9D9 100%);
  -webkit-appearance: none;
  height: 4px;
  margin: 0;
  width: 100%;
  bottom: 3px;
  position: relative;
}
.password-editor .password-editor-options .password-editor-length input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 16px;
  background: #fff;
  cursor: pointer;
}
.password-editor .password-editor-options .password-editor-length input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 16px;
  background: #fff;
  cursor: pointer;
  border: none;
}
.password-editor .password-editor-options .password-editor-checkboxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.password-editor .password-editor-options .password-editor-checkboxes div {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 24px;
}
.password-editor .password-editor-options .password-editor-checkboxes div .password-editor-checkbox-label {
  color: #000;
  font-size: 15px;
  margin: 5px 4px 5px 8px;
  user-select: none;
}

.password-strength {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  height: 4px;
  margin-top: 8px;
}
.password-strength .password-strength-meter {
  border-radius: 2px;
  height: 100%;
  transition: width 1s, background-color 1s;
}

.password-strength-label {
  font-family: "Overpass";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 4px;
  color: #565656;
}

.keeper-rtl .password-editor .password-editor-field > div:nth-child(1) {
  margin-right: 0px;
  margin-left: 12px;
}
.keeper-rtl .password-editor .password-editor-field > div:nth-child(1) .password-editor-input-container .eyeball {
  margin-right: 0px;
  margin-left: 12px;
}

@keyframes keeper-tumble-die {
  100% {
    transform: rotate(360deg);
  }
}